# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Data-manipulation-excercises" data-toc-modified-id="Data-manipulation-excercises-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data manipulation excercises</a></div>

# Data manipulation excercises

In this section you'll learn how to manipulate and transform your data in Pandas. Special functions like groupby, aggregate and apply will be covered.

As before - you'll be asked to fill missing **'??'** in the code with proper answers. 

In some places - where it's easy to check results - assetions will verify if your results are fine. Otherwise - you'll just have to achieve the same results as in visualizations below each excercise.

We'll be working with Titanic disaster data, as before, but for initial, simpler excercises we'll use some trivial datasets.

In [2]:
import pandas as pd
import numpy as np

# Read titanic data from data folder.
# Data is in CSV format, separated by comma, with header in zero row, no index column

titanic_df = '??'
titanic_df.head(10)

In [6]:
example_df = pd.DataFrame({
    'character': ['Neo', 'Trinity', 'Morpheus', 'Agent Smith', 'The Oracle', 'The Architect'],
    'origin':    ['human', 'human', 'human', 'machine', 'machine', 'machine'],
    'party': ['good', 'good', 'good', 'villain', 'good', 'villain'],
    'age': [35, 33, 40, 999, 999, 999]
    
})
example_df

   age      character   origin    party
0   35            Neo    human     good
1   33        Trinity    human     good
2   40       Morpheus    human     good
3  999    Agent Smith  machine  villain
4  999     The Oracle  machine     good
5  999  The Architect  machine  villain

In [16]:
# Group observations by party and calculate mean age:

expected_df = pd.Series(data=[4,2], index=['good', 'villain'])
expected_df.index.rename('party', inplace=True)

grouped_data_mean_age = '??'

assert(expected_df.equals(grouped_data_mean_age))

In [26]:
# Group observations by origin and count number of good and villain characters

expected_index = pd.Index(['human', 'machine'], name='origin')
expected_df = pd.DataFrame({'party': [3, 3]}, index=expected_index)

aggregated_data = '??'
assert(expected_df.equals(aggregated_data))

In [52]:
# Group observations by ORIGIN AND PARTY and aggregate: age - mean, median

expected_index = pd.MultiIndex(levels=[['human', 'machine'], ['good', 'villain']],
           labels=[[0, 1, 1], [0, 0, 1]],
           names=['origin', 'party'])

expected_col_index = pd.MultiIndex(levels=[['age'], ['mean', 'median']],
           labels=[[0, 0], [0, 1]])

expected_df = pd.DataFrame({
      'mean': [36, 999, 999],
      'median': [35, 999, 999]
}, index=expected_index)
expected_df.columns = expected_col_index

grouped_by_party_and_origin = '??'

assert(expected_df.equals(grouped_by_party_and_origin))