In [4]:
import pandas as pd
import sklearn as sk
import numpy as np

In [7]:
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/Animattronic/phd_materials/master/data_science/intro/data/titanic_train_data.csv",
    index_col=0,
    header=0)
titanic_df.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [8]:
from sklearn.datasets import load_boston
boston_data = load_boston()

In [10]:
print(boston_data.data)

[[  6.32000000e-03   1.80000000e+01   2.31000000e+00 ...,   1.53000000e+01
    3.96900000e+02   4.98000000e+00]
 [  2.73100000e-02   0.00000000e+00   7.07000000e+00 ...,   1.78000000e+01
    3.96900000e+02   9.14000000e+00]
 [  2.72900000e-02   0.00000000e+00   7.07000000e+00 ...,   1.78000000e+01
    3.92830000e+02   4.03000000e+00]
 ...,
 [  6.07600000e-02   0.00000000e+00   1.19300000e+01 ...,   2.10000000e+01
    3.96900000e+02   5.64000000e+00]
 [  1.09590000e-01   0.00000000e+00   1.19300000e+01 ...,   2.10000000e+01
    3.93450000e+02   6.48000000e+00]
 [  4.74100000e-02   0.00000000e+00   1.19300000e+01 ...,   2.10000000e+01
    3.96900000e+02   7.88000000e+00]]

In [12]:
titanic_df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
pd.value_counts(titanic_df.Embarked)

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [95]:
titanic_df.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
columns_to_use = [
    'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'
]
titanic_subset = titanic_df[columns_to_use]
titanic_subset.head(2)

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C

In [37]:
titanic_subset_filled = titanic_subset.fillna(0)
titanic_subset_filled.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [38]:
titanic_subset_filled.head(2)

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C

In [39]:
titanic_binarized = pd.get_dummies(titanic_subset_filled)

In [40]:
titanic_binarized.head(3)

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_0,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,
1,0,3,22.0,1,0,7.2500,0,1,0,0,0,1
2,1,1,38.0,1,0,71.2833,1,0,0,1,0,0
3,1,3,26.0,0,0,7.9250,1,0,0,0,0,1

In [29]:
titanic_subset.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [32]:
titanic_subset.shape

(891, 8)

In [42]:
titanic_binarized.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Embarked_0', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [41]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.tree import DecisionTreeClassifier

In [44]:
x = titanic_binarized.drop("Survived", axis=1)
x.head(1)

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_0,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,
1,3,22.0,1,0,7.25,0,1,0,0,0,1

In [45]:
y = titanic_binarized.Survived

In [52]:
X_train, X_test, y_train, y_test = train_test_split(
    x, 
    y, 
    test_size=0.3)

In [66]:
from sklearn.tree import DecisionTreeClassifier

In [67]:
dt = DecisionTreeClassifier()

In [68]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [69]:
from sklearn.metrics.classification import accuracy_score

In [70]:
predicted_y_test = dt.predict(X_test)

In [73]:
accuracy_score(y_true=y_test, y_pred=predicted_y_test)

0.75

In [ ]:
from sklearn.model_selection import cross_val_score

In [92]:
dt = DecisionTreeClassifier(max_depth=2)

In [93]:
scores = cross_val_score(dt, X_train, y_train, cv=10)
scores

array([ 0.76190476,  0.84126984,  0.85714286,  0.73015873,  0.85714286,
        0.77419355,  0.80645161,  0.83870968,  0.72131148,  0.75409836])

In [94]:
scores.mean()

0.79423837223942984

In [76]:
scores.std()

0.05928853139194442

In [34]:
177/891.

0.19865319865319866

In [31]:
titanic_subset.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [ ]:
titanic_subset.fillna()

In [16]:
from sklearn.model_selection import train_test_split

In [14]:
titanic_df_clean = titanic_df[['Pclass', 'Survived', 'Sex', 'SibSp', 'Parch', 'Fare']].fillna(0)
titanic_dummy = pd.get_dummies(titanic_df_clean)

In [15]:
titanic_dummy.head(4)

             Pclass  Survived  SibSp  Parch     Fare  Sex_female  Sex_male
PassengerId
1                 3         0      1      0   7.2500           0         1
2                 1         1      1      0  71.2833           1         0
3                 3         1      0      0   7.9250           1         0
4                 1         1      1      0  53.1000           1         0

In [18]:
x, y = titanic_dummy.drop("Survived", axis=1), titanic_dummy.Survived

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dt = DecisionTreeClassifier()
dt.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [24]:
dt.feature_importances_

array([ 0.10643298,  0.06763795,  0.05625434,  0.38597018,  0.38370455,  0.        ])