# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Pandas-intro" data-toc-modified-id="Pandas-intro-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas intro</a></div><div class="lev1 toc-item"><a href="#Data-reading" data-toc-modified-id="Data-reading-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data reading</a></div><div class="lev1 toc-item"><a href="#Basic-data-manipulation" data-toc-modified-id="Basic-data-manipulation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Basic data manipulation</a></div><div class="lev1 toc-item"><a href="#Basic-data-exploration-&amp;-statistics" data-toc-modified-id="Basic-data-exploration-&amp;-statistics-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Basic data exploration &amp; statistics</a></div><div class="lev1 toc-item"><a href="#Dealing-with-missing-data" data-toc-modified-id="Dealing-with-missing-data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Dealing with missing data</a></div>

# Pandas intro

This notebook is intended to teach you some basics of Pandas - core library for data mangement and interaction in data science.

As with previous excercise notebooks, your task is to fill all examples with the right code, so **assertions** will pass

This time however, sometimes you'll have to print something to compare outputs. We won't be testing this using assertions, just visually - take a look on the **EXPECTED OUTPUT** section after such excercises, to check if your solution is ok.

Search for **'??'** in the code and replace them with proper (contextual) content.

**GOOD LUCK** :)

In [46]:
import pandas as pd
import numpy as np
from numpy import dtype

# Data reading

In [17]:
# Fill the code, to read data frame content from dictionary

my_dict = {
    'name': ['Smith', 'Neo', 'Morpheus', 'Oracle'],
    'age': [None, 35, 40, 999],
    'role': ['Agent', 'The Chosen', 'Capitan of Nebuchadnezzar', 'The Oracle']
}

df1 = pd.DataFrame.'??'

print(df1)

assert(df1.columns.tolist() == ['age', 'name', 'role'])
assert(df1.name.values.tolist() == ['Smith', 'Neo', 'Morpheus', 'Oracle'])
assert(np.nan_to_num(df1.age.values).tolist() == [0.0, 35.0, 40.0, 999.0])
assert(df1.role.values.tolist() == ['Agent', 'The Chosen', 'Capitan of Nebuchadnezzar', 'The Oracle'])

In [29]:
# Fill the code to read the data from file
# remember about headers, indexes and separators!

df2 = pd.DataFrame.'?'

print(df2)

assert(df2.columns.tolist() == ['name', 'age', 'role'])
assert(df2.name.values.tolist() == ['Smith', 'Neo', 'Morpheus', 'Oracle'])
assert(np.nan_to_num(df2.age.values).tolist() == [0.0, 35.0, 40.0, 999.0])
assert(df2.role.values.tolist() == ['Agent', 'The Chosen', 'Capitan of Nebuchadnezzar', 'The Oracle'])

       name    age                       role
0     Smith    NaN                      Agent
1       Neo   35.0                 The Chosen
2  Morpheus   40.0  Capitan of Nebuchadnezzar
3    Oracle  999.0                 The Oracle

In [ ]:
# Read titanic data, then get columns sorted ascending. Check data types for each column

titanic_df = pd.DataFrame.'??'

expected_sorted_columns = ['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket']

expected_types = {'Age': dtype('float64'),
 'Cabin': dtype('O'),
 'Embarked': dtype('O'),
 'Fare': dtype('float64'),
 'Name': dtype('O'),
 'Parch': dtype('int64'),
 'PassengerId': dtype('int64'),
 'Pclass': dtype('int64'),
 'Sex': dtype('O'),
 'SibSp': dtype('int64'),
 'Survived': dtype('int64'),
 'Ticket': dtype('O')}

sorted_columns = titanic_df.'??'
column_types = titanic_df.'??'

assert(expected_sorted_columns == sorted_columns)
assert(expected_types == column_types)

# Basic data manipulation

In [ ]:
# Print first 5 observations from titanic data frame.

**EXPECTED OUTPUT**

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_df.'??'

In [22]:
# Fill the code to get sorted names

sorted_names = df1.'??'

assert(sorted_names.values.tolist() == ['Morpheus', 'Neo', 'Oracle', 'Smith'])

In [79]:
# Use NUMERICAL INDEXING of a data frame to get rows numer 1 & 3 from a dataframe df1
# watch out for 0 indexing!

rows_1_and_3 = '??'

expected_df = pd.DataFrame.from_dict({
    'name': ['Neo', 'Oracle'],
    'age': [35.0, 999.0],
    'role': ['The Chosen', 'The Oracle']
})
expected_df.index = [1,3]

assert(expected_df[['name', 'age', 'role']].equals(rows_1_and_3[['name', 'age', 'role']]))

In [88]:
# Use boolean indexing to get rows form df1, where age is >= 40.0

age_gte_40 = '??'

expected_df = pd.DataFrame.from_dict({
    'name': ['Morpheus', 'Oracle'],
    'age': [40.0, 999.0],
    'role': ['Capitan of Nebuchadnezzar', 'The Oracle']
})
expected_df.index = [2, 3]
print(age_gte_40)
assert(expected_df[['name', 'age', 'role']].equals(age_gte_40[['name', 'age', 'role']]))

??

AssertionError:

In [89]:
# Use boolean indexing + column references to get rows form df1, where age is < 40.0. Get ONLY names and age

name_age_lt_40 = '??'

expected_df = pd.DataFrame.from_dict({
    'age': [35.0],
    'name': ['Neo']
})
expected_df.index = [1]

print(name_age_lt_40)

assert(expected_df[['name', 'age']].equals(name_age_lt_40))

  name   age
1  Neo  35.0
    age name
1  35.0  Neo

In [104]:
# Use boolean indexing with multiple conditions to get rows from df1 where age >=40 OR a person is The Chosen :)
# Get only names. Sort results in alphabetic order
# There's more than 1 way to do this
age_gte_40_or_chosen = '??'

expected_sorted_values = ['Morpheus', 'Neo', 'Oracle']
assert(expected_sorted_values == age_gte_40_or_chosen)

# Basic data exploration & statistics

Use describe function to get an overview of titanic data. You should get **expected output** similar to below

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [125]:
# Calculate unique values in titanic Sex column

actual_results = '??'
expected_results = pd.Series(data=[577, 314], index=['male', 'female'])

assert(actual_results.equals(expected_results))

In [135]:
# Calculate mean value of age in titanic_df. Check what happens, if you INCLUDE missing values, or when you exclude missing values?
# round age to 1 decimal place
mean_age = '??'
expected_age = 29.7
assert(expected_age == mean_age)

In [140]:
# Calculate standard deviation of the age in titanic df.
# Round age std to 1 decimal place

expected_age_std = 14.5
age_std = '??'

assert(expected_age_std == age_std)

In [146]:
# Find max, min value of age in titanic df

max_age = '??'
min_age = '??'

expected_max_age = 80.0
expected_min_age = 0.42

assert(expected_max_age == max_age)
assert(expected_min_age == min_age)

In [150]:
# Use your skills from previous module to get MEAN AGE of MALES in titanic df
# Round age to 1 decimal place

mean_male_age = '??'
expected_mean_male_age = 30.7

assert(mean_male_age == expected_mean_male_age)

In [154]:
# Use your skills from previous module to get MEAN AGE of FEMALES who survived (1) in titanic df
# Round age to 1 decimal place

survived_females_mean_age = '??'
expected_survived_females_mean_age = 28.8

assert(survived_females_mean_age == expected_survived_females_mean_age)

# Dealing with missing data