In [1]:

import pandas as pd
import numpy as np

df = pd.DataFrame({
        'category': ['a', 'b', 'a', 'b'],
        'rating': [10, 5, 14, 7],
        'amount': [100, 200, 300, 400]
        })

df_agg = df.groupby('category').agg({
        'rating': [np.sum, np.mean],
        'amount': [np.mean, np.sum]
        })

In [18]:
df.groupby('category').mean()

          amount  rating
category
a            200      12
b            300       6

In [4]:
df[['category', 'amount', 'rating']]

  category  amount  rating
0        a     100      10
1        b     200       5
2        a     300      14
3        b     400       7

In [2]:
df_agg

         rating      amount
            sum mean   mean  sum
category
a            24   12    200  400
b            12    6    300  600

In [5]:
df.groupby('category').sum()

          amount  rating
category
a            400      24
b            600      12

In [10]:
pd.DataFrame(df.groupby('category').agg({
        'rating': [np.sum, np.mean],
        'amount': [np.mean, np.sum]
        }).unstack())

                        0
            category
rating sum  a          24
            b          12
       mean a          12
            b           6
amount mean a         200
            b         300
       sum  a         400
            b         600

In [17]:
df.groupby('category').agg([np.mean, np.std])

         amount             rating
           mean         std   mean       std
category
a           200  141.421356     12  2.828427
b           300  141.421356      6  1.414214